html body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
  text-align: center; }

#warp {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  vertical-align: middle;
  perspective: 100000000px; }

.center-warp {
  animation: centralize 4s cubic-bezier(0.55, -0.01, 0.2, 0.99), warpSpeed 4s cubic-bezier(1, 0, 1, 0); }

@keyframes centralize {
  to {
    perspective-origin: 50vw 20vh; } }
@keyframes warpSpeed {
  0% {
    animation-timing-function: cubic-bezier(0, 0.9, 0, 1);
    perspective: 1000000px; }
  20% {
    perspective: 5px;
    animation-timing-function: linear; }
  80% {
    perspective: 5px;
    animation-timing-function: cubic-bezier(1, 0, 0.9, 0); }
  100% {
    perspective: 1000000px;
    animation-timing-function: cubic-bezier(1, 0, 1, 0); } }
.space {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  transform-style: preserve-3d;
  animation: move 12s infinite linear;
  animation-fill-mode: forwards; }

.space:nth-child(2) {
  animation-delay: 6s; }

.side {
  background: url("../img/hyperdrive.jpg") center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  animation: fade 12s infinite linear;
  animation-delay: 0; }

.space:nth-child(2) .side {
  animation-delay: 6s; }

.top {
  transform: rotateX(90deg) translateZ(500px); }

.left {
  transform: rotateY(-90deg) translateZ(500px); }

.right {
  transform: rotateY(90deg) translateZ(500px); }

.bottom {
  transform: rotateX(-90deg) translateZ(500px); }

.back {
  transform: rotateX(180deg) translateZ(500px); }

@keyframes move {
  0% {
    transform: rotate(0deg) translateZ(-500px); }
  100% {
    transform: rotate(0deg) translateZ(500px); } }
@keyframes fade {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.tv {
  height: 100%;
  width: 100%;
  border: 2px solid black;
  grid-row: span 2; }

.tv-show {
  width: 99%;
  height: 100%;
  background-image: url(../img/fuzz.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image .5s ease; }

.planet-6-gif, .planet-7-gif {
  background-image: url(../img/globetrotter.gif);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20; }

.channel-1 {
  background-image: url(../img/channel-1.gif);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20; }

.channel-2 {
  background-image: url(../img/channel-2.gif);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20; }

.channel-3 {
  background-image: url(../img/channel-3.gif);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20; }

.channel-4 {
  background-image: url(../img/channel-4.gif);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20; }

.channel-5 {
  background-image: url(../img/channel-5.gif);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20; }

.channel-6 {
  background-image: url(../img/channel-6.gif);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20; }

.channel-7 {
  background-image: url(../img/channel-7.gif);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20; }

.channel-8 {
  background-image: url(../img/channel-8.gif);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20; }

.channel-9 {
  background-image: url(../img/channel-9.gif);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20; }

.channel-10 {
  background-image: url(../img/channel-10.gif);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20; }

.channel-11 {
  background-image: url(../img/channel-11.gif);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20; }

.channel-12 {
  background-image: url(../img/channel-12.gif);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20; }

.channel-13 {
  background-image: url(../img/channel-13.gif);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20; }

.channel-14 {
  background-image: url(../img/channel-2.gif);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20; }

.channel-15 {
  background-image: url(../img/channel-1.gif);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20; }

.channel-16 {
  background-image: url(../img/channel-2.gif);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20; }

.channel-17 {
  background-image: url(../img/channel-1.gif);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20; }

.channel-18 {
  background-image: url(../img/channel-2.gif);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20; }

.dooms-gif {
  background-image: url(../img/doom.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 20; }

.planet-7-gif {
  background-image: url(../img/soultrain.gif); }

.monitors {
  height: 100%;
  width: 100%;
  background-color: blue; }

#monitor1 {
  background-image: url(../img/rc.gif);
  background-position: right; }

#monitor2 {
  background-image: url(../img/rc2.gif);
  background-position: center; }

#monitor3 {
  background-image: url(../img/doom.gif);
  background-position: center; }

body {
  margin: 0;
  cursor: url("../img/cursor.png"), auto; }

div {
  box-shadow: 1px 1px 3px #00000080; }

*:not(body), *:not(html) {
  box-sizing: border-box; }

img {
  width: 100%;
  height: 100%; }

.ctrl-pnl {
  display: grid;
  height: 50vh;
  width: 100vw; }

.square {
  position: relative;
  padding-top: 100%;
  box-shadow: none;
  width: 100%;
  height: 0; }

.ctrl-pnl.grid-6 {
  perspective: 1932px;
  perspective-origin: 50vw 30vh;
  position: absolute;
  bottom: 0;
  z-index: 99;
  max-width: 1915px;
  margin: auto;
  left: 0;
  right: 0; }

body {
  background: #000; }

.pannel-left {
  transform-origin: center;
  transform: translatex(-180px) translatey(39px) translatez(-268px) rotateX(47deg) rotateY(72deg) rotateZ(-43deg);
  width: 200%;
  height: 100%; }

.pannel-left-corner {
  transform: translatex(0px) translatez(-461px) rotateX(20deg) rotateY(37deg) rotateZ(-10deg);
  transform-origin: bottom right; }

.pannel-center-left {
  transform-origin: bottom right;
  transform: translatez(-500px) rotateX(17deg) rotatey(7deg) rotateZ(-2deg); }

.pannel-center-right {
  transform-origin: bottom left;
  transform: translatez(-500px) rotateX(17deg) rotatey(-7deg) rotateZ(2deg); }

.pannel-right-corner {
  transform: translatex(0px) translatez(-461px) rotateX(20deg) rotateY(-37deg) rotateZ(10deg);
  transform-origin: bottom left; }

.pannel-right {
  transform-origin: center;
  transform: translatex(-179px) translatey(39px) translatez(-352px) rotateX(47deg) rotateY(-72deg) rotateZ(43deg);
  width: 190%;
  height: 100%; }

.ring.r1 {
  width: 20%;
  height: 20%; }

.ring.r2 {
  width: 40%;
  height: 40%; }

.ring.r3 {
  width: 60%;
  height: 60%; }

.ring.r4 {
  width: 80%;
  height: 80%; }

.grid-1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr); }

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }

.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr); }

.grid-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr); }

.pannel-left {
  grid-template-rows: 2fr 1fr 1fr; }

.ctrl-pnl.grid-6 {
  grid-template-columns: 2fr 1fr 2fr 2fr 1fr 2fr; }

.pannel-center-left.grid-4 {
  grid-template-rows: 1fr 1fr 2fr; }

.compass {
  grid-column: span 2;
  grid-row: span 2; }

.btns-column.btn-lg.grid-1 {
  grid-row: span 2; }

.oscilloscope-2 {
  grid-column: span 3; }

.pannel-center-right.grid-4 {
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr; }

.throttle {
  grid-row-start: 2; }

.radar-1 {
  grid-row: span 2;
  grid-column-start: 2; }

.pannel-center-right.grid-4 {
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr; }

.throttle {
  grid-row-start: 2; }

.radar-1 {
  grid-row: span 2;
  grid-column-start: 2; }

.pannel-right.grid-3 {
  grid-template-rows: 3fr 1fr; }

.knobs.grid-4 {
  grid-column: span 2; }

.pnl {
  padding: 10px;
  grid-gap: 10px;
  background: linear-gradient(-45deg, #000000, #2d475a);
  position: relative;
  top: -85px;
  box-shadow: 0 0 0 53px red;
  max-height: 378px; }
  .pnl > div {
    grid-gap: 5px;
    padding: 5px; }

.pannel-center-left {
  z-index: -1; }

.pannel-left, .pannel-right {
  z-index: 1; }

.pannel-left {
  box-shadow: 0 0 17px -1px #0bf9f9, 0 0 100px white, -35px 0 8px 52px black, -52px -11px 0 42px #fff; }

.self-destruct-animation .pannel-left {
  animation: destruction-glow-panel-left .5s linear infinite; }

.pannel-left-corner {
  box-shadow: 0 0 17px -1px #0bf9f9, 0 0 100px white, -36px -9px 8px 44px black, -40px -9px 0 45px #fff; }

.self-destruct-animation .pannel-left-corner {
  animation: destruction-glow-panel-left-corner .5s ease infinite; }

.pannel-center-left {
  box-shadow: 0 0 17px -1px #0bf9f9, 0 0 100px white, -4px 0 8px 53px black, -4px 0 0 55px #fff; }

.self-destruct-animation .pannel-center-left {
  animation: destruction-glow-panel-left-center .5s ease-in infinite; }

.pannel-center-right {
  box-shadow: 0 0 17px -1px #0bf9f9, 0 0 100px white, 50px 0 8px 53px black, 55px 0 0 55px #fff; }

.self-destruct-animation .pannel-center-right {
  animation: destruction-glow-panel-right-center .5s linear infinite; }

.pannel-right-corner {
  box-shadow: 0 0 17px -1px #0bf9f9, 0 0 100px white, 36px -9px 8px 44px black, 40px -9px 0 45px #fff; }

.self-destruct-animation .pannel-right-corner {
  animation: destruction-glow-panel-right-corner .5s ease infinite; }

.pannel-right {
  box-shadow: 0 0 17px -1px #0bf9f9, 0 0 100px white, 35px 0 8px 52px black, 52px -11px 0 42px #fff; }

.self-destruct-animation .pannel-right {
  animation: destruction-glow-right-panel .5s linear infinite; }

@keyframes destruction-glow-right-panel {
  20% {
    box-shadow: 0 0 17px 3px #0bf9f9, 0 0 100px white, 35px 0 8px 52px black, 52px -11px 0 42px #fff; }
  50% {
    box-shadow: 0 0 17px 30px #f90b0b, 0 0 100px white, 35px 0 8px 52px black, 52px -11px 0 42px #fff; }
  70% {
    box-shadow: 0 0 17px 3px #0bf9f9, 0 0 100px white, 35px 0 8px 52px black, 52px -11px 0 42px #fff; } }
@keyframes destruction-glow-panel-right-corner {
  20% {
    box-shadow: 0 0 17px 3px #0bf9f9, 0 0 100px white, 36px -9px 8px 44px black, 40px -9px 0 45px #fff; }
  50% {
    box-shadow: 0 0 17px 30px #f90b0b, 0 0 100px white, 36px -9px 8px 44px black, 40px -9px 0 46px #fff; }
  70% {
    box-shadow: 0 0 17px 3px #0bf9f9, 0 0 100px white, 36px -9px 8px 44px black, 40px -9px 0 46px #fff; } }
@keyframes destruction-glow-panel-right-center {
  20% {
    box-shadow: 0 0 17px 3px #0bf9f9, 0 0 100px white, 50px 0 8px 53px black, 55px 0 0 55px #fff; }
  50% {
    box-shadow: 0 0 17px 30px #f90b0b, 0 0 100px white, 50px 0 8px 53px black, 55px 0 0 55px #fff; }
  70% {
    box-shadow: 0 0 17px 3px #0bf9f9, 0 0 100px white, 50px 0 8px 53px black, 55px 0 0 55px #fff; } }
@keyframes destruction-glow-panel-left-corner {
  20% {
    box-shadow: 0 0 17px 3px #0bf9f9, 0 0 100px white, -36px -9px 8px 44px black, -40px -9px 0 45px #fff; }
  50% {
    box-shadow: 0 0 17px 30px #f90b0b, 0 0 100px white, -36px -9px 8px 44px black, -40px -9px 0 45px #fff; }
  70% {
    box-shadow: 0 0 17px 3px #0bf9f9, 0 0 100px white, -36px -9px 8px 44px black, -40px -9px 0 45px #fff; } }
@keyframes destruction-glow-panel-left-center {
  20% {
    box-shadow: 0 0 17px 3px #0bf9f9, 0 0 100px white, -4px 0 8px 53px black, -4px 0 0 55px #fff; }
  50% {
    box-shadow: 0 0 17px 30px #f90b0b, 0 0 100px white, -4px 0 8px 53px black, -4px 0 0 55px #fff; }
  70% {
    box-shadow: 0 0 17px 3px #0bf9f9, 0 0 100px white, -4px 0 8px 53px black, -4px 0 0 55px #fff; } }
@keyframes destruction-glow-panel-left {
  20% {
    box-shadow: 0 0 17px 3px #0bf9f9, 0 0 100px white, -35px 0 8px 52px black, -52px -11px 0 42px #fff; }
  50% {
    box-shadow: 0 0 17px 30px #f90b0b, 0 0 100px white, -35px 0 8px 52px black, -52px -11px 0 42px #fff; }
  70% {
    box-shadow: 0 0 17px 3px #0bf9f9, 0 0 100px white, -35px 0 8px 52px black, -52px -11px 0 42px #fff; } }
.pnl-back {
  height: 50vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #000;
  z-index: 1;
  box-shadow: inset 0px 10px 3px -5px #fff; }

.dial {
  border-radius: 50%;
  background-color: #525252;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset -45px -45px 100px #00000087, 0px 1px 4px 2px black;
  border: 1px solid #484848; }
  .dial span {
    position: absolute;
    top: 0px;
    right: 4px;
    bottom: 0;
    left: calc(54% + 12px);
    height: 6px;
    background: #000;
    margin: auto;
    border-radius: 50%;
    transform-origin: -17px; }
  .dial .led-1 {
    background-color: #2af5ff;
    box-shadow: inset 0 0 5px #fff, 0 1px 2px #2af5ff, 0 0px 11px 4px #00000059; }
  .dial .led-2 {
    background-color: blue;
    box-shadow: inset 0 0 5px #fff, 0 0 5px blue, 0 0px 11px 4px #00000059; }
  .dial .led-3 {
    background-color: #3eff3e;
    box-shadow: inset 0 0 5px #fff, 0 0 5px #3eff3e, 0 0px 11px 4px #00000059; }
  .dial.dial-1 .led-1 {
    animation: blueBlink 1s 0s infinite; }
  .dial.dial-1 .led-2 {
    animation: blueBlink 1s 0.1111111111s infinite; }
  .dial.dial-1 .led-3 {
    animation: blueBlink 1s 0.2222222222s infinite; }
  .dial.dial-2 .led-1 {
    animation: orangeBlink 2s 0s infinite; }
  .dial.dial-2 .led-2 {
    animation: orangeBlink 2s 0.2222222222s infinite; }
  .dial.dial-2 .led-3 {
    animation: orangeBlink 2s 0.4444444444s infinite; }
  .dial.dial-3 .led-1 {
    animation: purpleBlink 3s 0s infinite; }
  .dial.dial-3 .led-2 {
    animation: purpleBlink 3s 0.3333333333s infinite; }
  .dial.dial-3 .led-3 {
    animation: purpleBlink 3s 0.6666666667s infinite; }
  .dial.dial-4 .led-1 {
    animation: greenBlink 4s 0s infinite; }
  .dial.dial-4 .led-2 {
    animation: greenBlink 4s 0.4444444444s infinite; }
  .dial.dial-4 .led-3 {
    animation: greenBlink 4s 0.8888888889s infinite; }

.grid-item {
  width: 44%;
  margin: auto;
  box-shadow: none; }

.dial span:nth-of-type(1) {
  transform: rotate(60deg); }

.dial span:nth-of-type(2) {
  transform: rotate(120deg); }

.dial span:nth-of-type(3) {
  transform: rotate(180deg); }

.dial span:nth-of-type(4) {
  transform: rotate(240deg); }

.dial span:nth-of-type(5) {
  transform: rotate(300deg); }

.dial span:nth-of-type(6) {
  transform: rotate(360deg); }

.btn-grid-raised {
  background-color: transparent; }

.btn-grid-raised.grid-6
div {
  box-shadow: none; }

.pannel-left .btn-grid-flat:not(.thin) {
  grid-row: span 2; }

.pannel-left .btn-grid-flat {
  background-color: transparent; }

.btn-grid-flat div {
  background-color: black;
  border: 1px solid; }

.btn-grid-flat div:nth-child(1n) {
  animation: borderBlink1 1.2s 0.24s infinite; }

.btn-grid-flat div:nth-child(2n) {
  animation: borderBlink2 1.4s 0.28s infinite; }

.btn-grid-flat div:nth-child(3n) {
  animation: borderBlink3 1.6s 0.32s infinite; }

.btn-grid-flat div:nth-child(4n) {
  animation: borderBlink4 1.8s 0.36s infinite; }

.btn-grid-flat div:nth-child(5n) {
  animation: borderBlink5 2s 0.4s infinite; }

.self-destruct-animation .btn-grid-flat div:nth-child(1n) {
  animation: btn-blink 0.2s 0.04s infinite; }

.self-destruct-animation .btn-grid-flat div:nth-child(2n) {
  animation: btn-blink 0.4s 0.08s infinite; }

.self-destruct-animation .btn-grid-flat div:nth-child(3n) {
  animation: btn-blink 0.6s 0.12s infinite; }

.self-destruct-animation .btn-grid-flat div:nth-child(4n) {
  animation: btn-blink 0.8s 0.16s infinite; }

.self-destruct-animation .btn-grid-flat div:nth-child(5n) {
  animation: btn-blink 1s 0.2s infinite; }

.pannel-right-corner .btn-grid-flat {
  background-color: transparent; }

.pannel-right .btn-grid-flat {
  background-color: transparent; }

.button {
  display: block;
  height: 50%;
  width: 100%;
  background-color: grey;
  border-radius: 50%;
  box-shadow: -4px 2px 2px black; }

.button:active {
  width: 90%;
  height: 45%; }

.btn-grid-raised > div:nth-child(1) .button {
  box-shadow: -3px 5px 0 lime; }

.btn-grid-raised > div:nth-child(2) .button {
  box-shadow: -3px 5px 0 yellow; }

.btn-grid-raised > div:nth-child(3) .button {
  box-shadow: -3px 5px 0 red; }

.btn-grid-raised > div:nth-child(4) .button {
  box-shadow: -3px 5px 0 orange; }

.btn-grid-raised > div:nth-child(5) .button {
  box-shadow: -3px 5px 0 blue; }

.btn-grid-raised > div:nth-child(6) .button {
  box-shadow: -3px 5px 0 white; }

.btn-grid-raised > div:nth-child(7) .button {
  box-shadow: -3px 5px 0 green; }

.btn-grid-raised > div:nth-child(8) .button {
  box-shadow: -3px 5px 0 lightyellow; }

.btn-grid-raised > div:nth-child(9) .button {
  box-shadow: -3px 5px 0 pink; }

.btn-grid-raised > div:nth-child(10) .button {
  box-shadow: -3px 5px 0 darkorange; }

.btn-grid-raised > div:nth-child(11) .button {
  box-shadow: -3px 5px 0 lightblue; }

.btn-grid-raised > div:nth-child(12) .button {
  box-shadow: -3px 5px 0 lightgrey; }

.btn-grid-raised > div:nth-child(13) .button {
  box-shadow: -3px 5px 0 turquoise; }

.btn-grid-raised > div:nth-child(14) .button {
  box-shadow: -3px 5px 0 salmon; }

.btn-grid-raised > div:nth-child(15) .button {
  box-shadow: -3px 5px 0 purple; }

.btn-grid-raised > div:nth-child(16) .button {
  box-shadow: -3px 5px 0 indigo; }

.btn-grid-raised > div:nth-child(17) .button {
  box-shadow: -3px 5px 0 brown; }

.btn-grid-raised > div:nth-child(18) .button {
  box-shadow: -3px 5px 0 black; }

.radar-1, .radar-2 {
  display: flex;
  align-items: center; }

.border {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid #b7b7b7;
  background: linear-gradient(-45deg, #042b25, #678680);
  box-shadow: inset 0 0 35px, 0 0 0 3px;
  overflow: hidden; }

.border div {
  border: 2px solid #2abfa8; }

.ring {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: none;
  border-radius: 50%;
  margin: auto; }

.x-line {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  height: 1px;
  margin: auto;
  border: 1px solid #2abfa8 !important; }

.y-line {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  width: 1px;
  margin: auto;
  border: 1px solid #2abfa8 !important; }

.scanner {
  position: absolute;
  left: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  height: 1px;
  margin: auto;
  margin-right: 0;
  transform-origin: left;
  transform: rotate(45deg);
  border: 1px solid #2abfa8 !important;
  animation: scan 15s linear infinite; }
  .scanner:after {
    position: absolute;
    top: -50px;
    width: 102%;
    bottom: 0;
    content: "";
    background: linear-gradient(-20deg, #2bbfa8, transparent 51%); }

.oscilloscope.round img {
  border-radius: 50%;
  border: 3px solid #b7b7b7;
  height: 62px;
  width: auto; }

.self-destruct {
  background-color: red;
  border-radius: 50%;
  margin: 10%; }

.self-destruct-animation {
  animation: shake-x .7s infinite, shake-y .6s infinite; }
  .self-destruct-animation #broadcast {
    background: red !important; }
    .self-destruct-animation #broadcast:after {
      content: "";
      font-size: 310px;
      animation: countDown 6s linear; }

@keyframes countDown {
  0% {
    content: "5"; }
  20% {
    content: "4"; }
  40% {
    content: "3"; }
  60% {
    content: "2"; }
  80% {
    content: "1"; } }
@keyframes shake-x {
  10%, 90% {
    left: -10px; }
  20%, 80% {
    left: 20px; }
  30%, 50%, 70% {
    left: -40px; }
  40%, 60% {
    left: 40px; } }
@keyframes shake-y {
  10%, 90% {
    bottom: 0px; }
  20%, 80% {
    bottom: 30px; }
  30%, 50%, 70% {
    bottom: -30px; }
  40%, 60% {
    bottom: 50px; } }
@keyframes btn-blink {
  0% {
    background: black; }
  49% {
    background: black; }
  50% {
    background: red; }
  100% {
    background: red; } }
.pew {
  height: 200px;
  width: 2px;
  background-color: #15ff00;
  position: absolute;
  left: 50%;
  animation: fire 1s linear;
  z-index: -90;
  margin-top: 100px; }

.fire-animation {
  animation: fire .1s linear; }

@keyframes fire {
  100% {
    height: 0px;
    margin-top: -200px; } }
img#health {
  position: relative;
  object-fit: contain;
  margin-top: 22%;
  margin-left: -68px; }

.oscilloscope-2 {
  background: #000000b3; }

img#ship {
  position: absolute;
  width: 15em;
  height: 231px;
  margin-top: -24px;
  margin-left: 3px; }

.sliders > div {
  background-color: white;
  display: flex;
  align-items: flex-end; }

.red-sliders, .self-destruct-animation .meter {
  background-color: #d9230f !important;
  animation: hide-hyper-space 1s linear infinite !important;
  height: 90% !important; }

.meter {
  height: 40%;
  width: 100%;
  background-color: green; }

.meter1 {
  animation: meters 35s linear infinite; }

.meter2 {
  animation: meters 60s linear infinite; }

.meter3 {
  animation: meters 120s ease infinite; }

/*space*/
.explore {
  z-index: 10;
  visibility: hidden;
  width: 1px;
  height: 1px;
  border: solid transparent 2px;
  border-radius: 50%;
  color: lime; }

.explore-text {
  font-size: 1px;
  color: lime;
  margin: 0; }

.planets {
  height: 50vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  z-index: 50;
  background: transparent; }

.planet-1 {
  width: 20px;
  height: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 2s cubic-bezier(0.55, -0.01, 0.2, 0.99);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  top: 20%;
  left: 30%;
  background-image: url(../img/planet-1.png); }

.planet-2 {
  width: 20px;
  height: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 2s cubic-bezier(0.55, -0.01, 0.2, 0.99);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  top: 50%;
  left: 70%;
  background-image: url(../img/planet-2.png); }

.planet-3 {
  width: 20px;
  height: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 2s cubic-bezier(0.55, -0.01, 0.2, 0.99);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  top: 60%;
  left: 10%;
  background-image: url(../img/planet-3.png); }

.planet-4 {
  width: 20px;
  height: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 2s cubic-bezier(0.55, -0.01, 0.2, 0.99);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  top: 10%;
  left: 80%;
  background-image: url(../img/planet-4.png); }

.planet-5 {
  width: 20px;
  height: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 2s cubic-bezier(0.55, -0.01, 0.2, 0.99);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  top: 60%;
  left: 47%;
  background-image: url(../img/planet-5.png); }

.planet-6 {
  width: 20px;
  height: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 2s cubic-bezier(0.55, -0.01, 0.2, 0.99);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  top: 10%;
  left: 97%;
  background-image: url(../img/planet-6.png); }

.planet-7 {
  width: 20px;
  height: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 2s cubic-bezier(0.55, -0.01, 0.2, 0.99);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  top: 15%;
  left: 87%;
  background-image: url(../img/discoball.png); }

.transform-active {
  transition: all 4s cubic-bezier(0.55, -0.01, 0.2, 0.99);
  width: 200px;
  height: 200px;
  top: 25%;
  left: 45%; }
  .transform-active .explore-text {
    transition: all 2s ease-in;
    font-size: 50px; }

.explore-show {
  visibility: visible;
  transition-delay: 1s !important;
  transition: all 1s ease-in;
  border: lime solid 2px;
  width: 20px;
  height: 20px; }

.explore:hover {
  cursor: pointer; }

.explore-planet {
  margin-top: -15100px;
  margin-left: -14900px;
  transition: all 3s ease;
  width: 30000px;
  height: 30000px;
  z-index: 10; }
  .explore-planet .return {
    visibility: visible;
    width: 400px;
    height: 100px;
    font-size: 50px;
    transition-delay: 1s !important;
    transition: all 1s ease-in; }

.alien {
  height: 0;
  width: 1px; }

.alien-grow {
  width: 400px;
  transition: all 3s ease;
  height: auto; }

.alien-shrink {
  width: 1px;
  transition: all 1s ease; }

.return-to-orbit-1 {
  visibility: hidden;
  width: 1px;
  height: 1px;
  border: lime solid 2px;
  color: lime;
  font-size: 1px;
  display: flex;
  justify-content: center;
  align-items: center; }

.return-to-orbit-2 {
  visibility: hidden;
  width: 1px;
  height: 1px;
  border: lime solid 2px;
  color: lime;
  font-size: 1px;
  display: flex;
  justify-content: center;
  align-items: center; }

.return-to-orbit-3 {
  visibility: hidden;
  width: 1px;
  height: 1px;
  border: lime solid 2px;
  color: lime;
  font-size: 1px;
  display: flex;
  justify-content: center;
  align-items: center; }

.return-to-orbit-4 {
  visibility: hidden;
  width: 1px;
  height: 1px;
  border: lime solid 2px;
  color: lime;
  font-size: 1px;
  display: flex;
  justify-content: center;
  align-items: center; }

.return-to-orbit-5 {
  visibility: hidden;
  width: 1px;
  height: 1px;
  border: lime solid 2px;
  color: lime;
  font-size: 1px;
  display: flex;
  justify-content: center;
  align-items: center; }

.return-to-orbit-6 {
  visibility: hidden;
  width: 1px;
  height: 1px;
  border: lime solid 2px;
  color: lime;
  font-size: 1px;
  display: flex;
  justify-content: center;
  align-items: center; }

.return-to-orbit-7 {
  visibility: hidden;
  width: 1px;
  height: 1px;
  border: lime solid 2px;
  color: lime;
  font-size: 1px;
  display: flex;
  justify-content: center;
  align-items: center; }

.on-top {
  z-index: 100; }

.go-away {
  transition: all .1s ease-in;
  opacity: 0 !important; }

.btns-column div, .round-btns div {
  width: 30px;
  height: 30px;
  box-shadow: inset -5px -5px 30px #00000085, inset -1px -1px 2px, 2px 2px 3px #0000008c;
  background: #ff0808;
  border-radius: 50%;
  position: relative; }
  .btns-column div:active, .round-btns div:active {
    background: #ff2222bf;
    position: relative;
    top: 1px;
    left: 1px; }

.self-destruct-animation .btns-column div {
  animation: btns-column-destruct 2s ease-in infinite; }

.btns-column, .round-btns {
  align-items: center;
  justify-items: center; }

.btns-column div:before, .round-btns div:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border-radius: 50%;
  box-shadow: inset 13px 12px 2px -12px #ffffff9c; }

.round-btns div {
  background: #464646; }

.pannel-right .btn-grid-flat {
  grid-gap: 8%;
  padding: 15px; }

.pannel-right .btn-grid-flat div {
  background: #d24141;
  height: 28px; }

.wipe-animation {
  animation: wipe 2s infinite;
  transform-origin: left; }

.wiper-1 {
  position: absolute;
  width: 800px;
  height: 20px;
  background-color: grey;
  z-index: -100;
  top: 20%;
  left: 55%; }

.wiper-2 {
  position: absolute;
  width: 800px;
  height: 20px;
  background-color: grey;
  z-index: -100;
  top: 20%;
  left: 25%; }

@keyframes wipe {
  0%, 100% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(-100deg); } }
.wiper-switch {
  display: flex;
  justify-content: center;
  align-items: center; }
  .wiper-switch input[type=checkbox] {
    margin: 0;
    height: 0;
    width: 0;
    visibility: hidden; }
  .wiper-switch label {
    cursor: pointer;
    text-indent: -9999px;
    width: 60px;
    height: 20px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative; }
  .wiper-switch label:after {
    content: '';
    position: absolute;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s; }
  .wiper-switch input:checked + label {
    background: #bada55; }
  .wiper-switch input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%); }
  .wiper-switch label:active:after {
    width: 30px; }

.active {
  background-color: red !important; }

@keyframes scan {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@keyframes meters {
  10% {
    height: 20%; }
  20% {
    height: 19%; }
  30% {
    height: 25%; }
  40% {
    height: 35%; }
  45% {
    height: 40%; }
  55% {
    height: 39%; }
  65% {
    height: 55%; }
  73% {
    height: 80%; }
  74% {
    background-color: green; }
  75% {
    height: 85%;
    background-color: red; }
  77% {
    height: 80%;
    background-color: green; }
  79% {
    height: 75%; }
  80% {
    height: 55%; }
  85% {
    height: 40%; }
  100% {
    height: 30%; } }
@keyframes hide-hyper-space {
  10% {
    background-color: white; }
  25% {
    background-color: #d9230f; }
  35% {
    background-color: white;
    height: 95%; }
  45% {
    background-color: red;
    height: 100%; }
  60% {
    background-color: white;
    height: 95%; }
  75% {
    background-color: #d9230f; }
  90% {
    background-color: white; } }
@keyframes blueBlink {
  0% {
    background: #2af5ff; }
  30% {
    background: black; }
  33% {
    background: blue; }
  63% {
    background: black; }
  66% {
    background: #3eff3e; }
  97% {
    background: black; } }
@keyframes purpleBlink {
  0% {
    background: #af2aff; }
  30% {
    background: black; }
  33% {
    background: #d1ecff; }
  63% {
    background: black; }
  66% {
    background: #265dff; }
  97% {
    background: black; } }
@keyframes orangeBlink {
  0% {
    background: #ff8f00; }
  30% {
    background: black; }
  33% {
    background: #d6ff00; }
  63% {
    background: black; }
  66% {
    background: #ff2710; }
  97% {
    background: black; } }
@keyframes greenBlink {
  0% {
    background: #02ff00; }
  30% {
    background: black; }
  33% {
    background: #d6ff00; }
  63% {
    background: black; }
  66% {
    background: #00a20e; }
  97% {
    background: black; } }
@keyframes btns-column-destruct {
  0% {
    background: #ff0808;
    box-shadow: 0px 2px 5px #ff08be8c; }
  30% {
    background: #ff080800;
    box-shadow: 0px 2px 10px #ff08be8c; }
  60% {
    background: #ff0808;
    box-shadow: 0px 2px 10px #ff08be8c; }
  90% {
    background: #ff080800;
    box-shadow: 0px 2px 5px #ff08be8c; } }
@keyframes disco-drop {
  0% {
    top: -1000px;
    background-color: #ff000040; }
  20% {
    top: 0%;
    background-color: #1e00ff40; }
  60% {
    top: 0%;
    background-color: #ffee007d; }
  0% {
    top: -1000px;
    background-color: #ff8f00cf; } }
@keyframes borderBlink1 {
  0% {
    box-shadow: inset 0 0 0px 0px black; }
  55% {
    box-shadow: inset 0 0 0px 0px black; }
  100% {
    box-shadow: inset 0 0 1px 2px cyan; } }
@keyframes borderBlink2 {
  0% {
    box-shadow: inset 0 0 0px 0px black; }
  55% {
    box-shadow: inset 0 0 0px 0px black; }
  100% {
    box-shadow: inset 0 0 1px 2px green; } }
@keyframes borderBlink3 {
  0% {
    box-shadow: inset 0 0 0px 0px black; }
  55% {
    box-shadow: inset 0 0 0px 0px black; }
  100% {
    box-shadow: inset 0 0 1px 2px orange; } }
@keyframes borderBlink4 {
  0% {
    box-shadow: inset 0 0 0px 0px black; }
  55% {
    box-shadow: inset 0 0 0px 0px black; }
  100% {
    box-shadow: inset 0 0 1px 2px blue; } }
@keyframes borderBlink5 {
  0% {
    box-shadow: inset 0 0 0px 0px black; }
  55% {
    box-shadow: inset 0 0 0px 0px black; }
  100% {
    box-shadow: inset 0 0 1px 2px lightyellow; } }
#discoworld {
  height: 1000px;
  width: 100vw; }

.discoworlds {
  z-index: 100;
  background-image: url(../img/discoball2.gif);
  position: absolute;
  top: -1000px;
  left: 0%;
  animation: disco-drop 10s ease-in infinite; }

/*# sourceMappingURL=master.css.map */
