

@for $i from 1 through 6 {
  .grid-#{$i}{
    display: grid;
    grid-template-columns: repeat($i, 1fr);
  }
}

.pannel-left {
    grid-template-rows: 2fr 1fr 1fr;
}
.ctrl-pnl.grid-6 {
    grid-template-columns: 2fr 1fr 2fr 2fr 1fr 2fr;
}
.pannel-center-left.grid-4 {
  grid-template-rows: 1fr 1fr 2fr;
}

.compass {
    grid-column: span 2;
    grid-row: span 2;
}

.btns-column.btn-lg.grid-1 {grid-row: span 2;}

.oscilloscope-2 {
    grid-column: span 3;
}

.pannel-center-right.grid-4 {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
}


.throttle {grid-row-start: 2;}

.radar-1 {
    grid-row: span 2;
    grid-column-start: 2;
}

.pannel-center-right.grid-4 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.throttle {
    grid-row-start: 2;
}

.radar-1 {
    grid-row: span 2;
    grid-column-start: 2;
}
.pannel-right.grid-3 {
    grid-template-rows: 3fr 1fr;
}
.knobs.grid-4 {
    grid-column: span 2;
}

.pnl {
    padding: 10px;
    grid-gap: 10px;
    background: linear-gradient(-45deg, #000000, #2d475a);
    position: relative;
    top: -85px;
    box-shadow: 0 0 0 53px red;
    max-height: 378px;
    > div {
        grid-gap: 5px;
        padding: 5px;
    }
}

.pannel-center-left {
    z-index: -1;
}

.pannel-left, .pannel-right {
    z-index: 1;
}

.pannel-left {
    box-shadow: 0 0 17px -1px #0bf9f9, 0 0 100px white, -35px 0 8px 52px black, -52px -11px 0 42px #fff;

}

.pannel-left-corner {
    box-shadow: 0 0 17px -1px #0bf9f9, 0 0 100px white, -36px -9px 8px 44px black, -40px -9px 0 45px #fff;
}

.pannel-center-left {
    box-shadow: 0 0 17px -1px #0bf9f9, 0 0 100px white, -4px 0 8px 53px black, -4px 0 0 55px #fff;
}

.pannel-center-right {
    box-shadow: 0 0 17px -1px #0bf9f9, 0 0 100px white, 50px 0 8px 53px black, 55px 0 0 55px #fff;
}

.pannel-right-corner {
    box-shadow: 0 0 17px -1px #0bf9f9, 0 0 100px white, 36px -9px 8px 44px black, 40px -9px 0 45px #fff;
}

.pannel-right {
    box-shadow: 0 0 17px -1px #0bf9f9, 0 0 100px white, 35px 0 8px 52px black, 52px -11px 0 42px #fff;
}

.pnl-back {
    height: 50vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #000;
    z-index: 1;
    box-shadow: inset 0px 10px 3px -5px #fff;
}
