.btns-column div, .round-btns div {width: 30px;height: 30px;box-shadow: inset -5px -5px 30px #00000085, inset -1px -1px 2px, 2px 2px 3px #0000008c;background: #ff0808;border-radius: 50%;position: relative;}

.btns-column, .round-btns {
    align-items: center;
    justify-items: center;
}

.btns-column div:before, .round-btns div:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    border-radius: 50%;
    box-shadow: inset 13px 12px 2px -12px #ffffff9c;
}

.round-btns div {
    background: #464646;
}

.pannel-right .btn-grid-flat {
    grid-gap: 40px;
    padding: 15px;
}

.pannel-right .btn-grid-flat div {
    background: #d24141;
}


.btns-column div, .round-btns div {

}


.hover{
  animation: animate 0.25s infinite;
}



@keyframes animate{
  0%{
    cursor: url("../img/hover/frame1.gif"), auto;
  }
  15%{
    cursor: url("../img/hover/frame2.gif"), auto;
  }
  30%{
    cursor: url("../img/hover/frame3.gif"), auto;
  }
  45%{
    cursor: url("../img/hover/frame4.gif"), auto;
  }
  60%{
    cursor: url("../img/hover/frame5.gif"), auto;
  }
  75%{
    cursor: url("../img/hover/frame6.gif"), auto;
  }
  90%{
    cursor: url("../img/hover/frame7.gif"), auto;
  }
  100%{
    cursor: url("../img/hover/frame8.gif"), auto;
  }
}
