.pew {
  height: 252px;
  width: 4px;
  background-color: #15ff00;
  position: absolute;
  left: 50%;
  z-index: -90;
  margin-top: 100px;
}
.knobs.grid-4 div {
    background: #000;
    border: 1px solid;
}

.laser-lime {
    color: lime;
}

.laser-red {
    color: red;
}

.laser-blue {
    color: blue;
}

.laser-orange {
    color: orange;
}
.fire-animation {
  animation: fire .3s linear;
}
@keyframes fire {
  100% {
    height: 0px;
    margin-top: -200px;
  }
}
