.self-destruct {
    background-color: red;
  border-radius: 50%;
  margin: 10%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: -19px 6px 0 2px #000;
    &:after {
        content: "NO!";
        font-size: 86px;
        position: relative;
        top: 12px;
    }
}
.smaller {
    max-width: 50%;
    margin: 0 25%;
} 
.shake {
    position: relative;
    height: 100vh!important;
    animation: shake-x-small .7s infinite, shake-y-small .6s infinite;
}
.self-destruct-animation {
  animation: shake-x .7s infinite, shake-y .6s infinite;
  #broadcast {
      background: red!important;
      &:after{
          content:"";
            font-size: 310px;
            animation: countDown 10s 7s linear;
      }
  }
  .btns-column div {
    animation: btns-column-destruct 2s ease-in infinite;
  }
  .pannel-left {
    animation: destruction-glow-panel-left .5s linear infinite;
  }
  .pannel-left-corner {
    animation: destruction-glow-panel-left-corner .5s ease infinite;
  }
  .pannel-center-left {
    animation: destruction-glow-panel-left-center .5s ease-in infinite;
  }
  .pannel-center-right{
    animation: destruction-glow-panel-right-center .5s linear infinite;
  }
  .pannel-right-corner {
    animation: destruction-glow-panel-right-corner .5s ease infinite;
  }
  .pannel-right {
    animation: destruction-glow-right-panel .5s linear infinite;
  }
  .meter {
    @extend .red-sliders;
  }
}

@keyframes countDown {
    0%{
        content:"10";
    }
    10%{
        content:"9" ;
    }
    20%{
        content:"8";
    }
    30%{
        content:"7";
    }
    40%{
        content:"6";
    }
    50%{
        content:"5";
    }
    60%{
        content:"4" ;
    }
    70%{
        content:"3";
    }
    80%{
        content:"2";
    }
    90%{
        content:"1";
    }
}

@keyframes shake-x {
  10%, 90% {
    left: -10px;
  }
  20%, 80% {
    left: 20px;
  }
  30%, 50%, 70%  {
    left: -40px;
  }
  40%, 60% {
    left: 40px;
  }

}
@keyframes shake-x-small {
  10%, 90% {
    left: -2px;
  }
  20%, 80% {
    left: 5px;
  }
  30%, 50%, 70%  {
    left: -8px;
  }
  40%, 60% {
    left: 8px;
  }

}
@keyframes shake-y {
  10%, 90% {
    bottom: 0px;
  }
  20%, 80% {
    bottom: 30px;
  }
  30%, 50%, 70%  {
    bottom: -30px;
  }
  40%, 60% {
    bottom: 50px;
  }

}
@keyframes shake-y-small {
    10%, 90% {
      left: -2px;
    }
    20%, 80% {
      left: 5px;
    }
    30%, 50%, 70%  {
      left: -8px;
    }
    40%, 60% {
      left: 8px;
    }
}

@keyframes btn-blink {
    0% {
        background:black;
    }
    49%{
        background: black;
    }
    50%{
        background:red;
    }
    100% {
        background:red;
    }
}
