img#health {
    position: relative;
    object-fit: contain;
    margin-top: 22%;
    margin-left: -68px;
}

.oscilloscope-2 {
    background: #000000b3;
}

img#ship {
    position: absolute;
    width: 15em;
    height: 231px;
    margin-top: -24px;
    margin-left: 3px;
}
