img#health {
    position: relative;
    object-fit: contain;
    margin-top: 27%;
    margin-left: -35px;
}

.oscilloscope-2 {
    background: #000000b3;
}

img#ship {
    position: absolute;
    width: 12em;
    height: 160px;
    margin-top: -24px;
    margin-left: -19px;
}
