/*space*/
@mixin planet {
  width: 20px;
  height: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 2s cubic-bezier(0.55, -0.01, 0.2, 0.99);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  // overflow: hidden;
}
@mixin explore {
  z-index: 10;
  visibility: hidden;
  width: 1px;
  height: 1px;
  border: solid transparent 2px;
  border-radius: 50%;
  color: lime;
}
@mixin explore-planet {
  transition: all 3s ease;
  width: 30000px;
  height: 30000px;
  z-index: 10;
}
@mixin explore-text {
  font-size: 1px;
  color: lime;
  margin: 0;
}
@mixin return-to-orbit {
  visibility: hidden;
  width: 1px;
  height: 1px;
  border: lime solid 2px;
  color: lime;
  font-size: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.planets {
  height: 50vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  z-index: 50;
  background: transparent;
}

.planet-1 {
  @include planet;
  top: 20%;
  left: 30%;
  background-image: url(../img/planet-1.png);
}
.planet-2 {
  @include planet;
  top: 50%;
  left: 70%;
  background-image: url(../img/planet-2.png);
}
.planet-3 {
  @include planet;
  top: 60%;
  left: 10%;
  background-image: url(../img/planet-3.png);
}
.planet-4 {
  @include planet;
  top: 10%;
  left: 80%;
  background-image: url(../img/planet-4.png);
}
.planet-5 {
  @include planet;
  top: 60%;
  left: 47%;
  background-image: url(../img/planet-5.png);
}
.new-planets {
  @extend .planets;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 10%;
  left: 10%;
}
.planet-6 {
  // @include planet;
  width: 16px;
  height: 16px;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url(../img/planet-6.png);
}


.transform-active {
  transition: all 5s cubic-bezier(0.55, -0.01, 0.2, 0.99);
  width: 200px;
  height: 200px;
  top: 25%;
  left: 45%;
}
.explore-1 {
  @include explore;
}
.explore-2 {
  @include explore;
}
.explore-3 {
  @include explore;
}
.explore-4 {
  @include explore;
}
.explore-5 {
  @include explore;
}
.explore-6 {
  @include explore;
}
.explore-show {
  visibility: visible;
  transition-delay: 1s !important;
  transition: all 1s ease-in;
  border: lime solid 2px;
  width: 20px;
  height: 20px;
}
.explore-text-1 {
  @include explore-text;
}
.explore-text-2 {
  @include explore-text;
}
.explore-text-3 {
  @include explore-text;
}
.explore-text-4 {
  @include explore-text;
}
.explore-text-5 {
  @include explore-text;
}
.explore-text-6 {
  @include explore-text;
}
.explore-text-show {
  transition: all 2s ease-in;
  font-size: 50px;
}
.explore:hover  {
  cursor: pointer;
}

.explore-planet-1 {
  margin-top: -14900px;
  margin-left: -14900px;
  @include explore-planet;
}
.explore-planet-2 {
  margin-top: -15100px;
  margin-left: -14900px;
  @include explore-planet;
}
.explore-planet-3 {
  margin-top: -15100px;
  margin-left: -14600px;
  @include explore-planet;
}
.explore-planet-4 {
  margin-top: -14800px;
  margin-left: -15400px;
  @include explore-planet;
}
.explore-planet-5 {
  margin-top: -15100px;
  margin-left: -14900px;
  @include explore-planet;
}

.alien {
  height: 0;
}
.alien-1 {
  width: 1px;
}
.alien-2 {
  width: 1px;
}
.alien-3 {
  width: 1px;
}
.alien-4 {
  width: 1px;
}
.alien-5 {
  width: 1px;
}

.alien-grow {
  width: 400px;
  transition: all 3s ease;
  height: auto;
}
.alien-shrink {
  width: 1px;
  transition: all 1s ease;
}
.return-to-orbit-1 {
  @include return-to-orbit;
}
.return-to-orbit-2 {
  @include return-to-orbit;
}
.return-to-orbit-3 {
  @include return-to-orbit;
}
.return-to-orbit-4 {
  @include return-to-orbit;
}
.return-to-orbit-5 {
  @include return-to-orbit;
}

.return-to-orbit-show {
  visibility: visible;
  width: 400px;
  height: 100px;
  font-size: 50px;
  transition-delay: 1s !important;
  transition: all 1s ease-in;
}
.on-top {
  z-index: 100;
}
.go-away {
  transition:  all .1s ease-in;
  opacity: 0 !important;
}
