/*space*/
@mixin planet {
  width: 20px;
  height: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 2s cubic-bezier(0.55, -0.01, 0.2, 0.99);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  // overflow: hidden;
}
.explore {
  z-index: 10;
  visibility: hidden;
  width: 1px;
  height: 1px;
  border: solid transparent 2px;
  border-radius: 50%;
  color: lime;
}
@mixin explore-planet {
  transition: all 3s ease;
  width: 30000px;
  height: 30000px;
  z-index: 10;
}
.explore-text {
  font-size: 1px;
  color: lime;
  margin: 0;
}
@mixin return-to-orbit {
  visibility: hidden;
  width: 1px;
  height: 1px;
  border: lime solid 2px;
  color: lime;
  font-size: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.planets {
  height: 50vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  z-index: 50;
  background: transparent;
}

.planet-1 {
  @include planet;
  top: 20%;
  left: 30%;
  background-image: url(../img/planet-1.png);
}
.planet-2 {
  @include planet;
  top: 50%;
  left: 70%;
  background-image: url(../img/planet-2.png);
}
.planet-3 {
  @include planet;
  top: 60%;
  left: 10%;
  background-image: url(../img/planet-3.png);
}
.planet-4 {
  @include planet;
  top: 10%;
  left: 80%;
  background-image: url(../img/planet-4.png);
}
.planet-5 {
  @include planet;
  top: 60%;
  left: 47%;
  background-image: url(../img/planet-5.png);
}
.planet-6 {
  @include planet;
  top: 10%;
  left: 97%;
  background-image: url(../img/planet-6.png);
}
.alien-grow {
    position: fixed;
    top: 3%;
    left: 50%;
}

.return {
    position: fixed;
    top: 1%;
    right: 1%;
}
.planet-7 {
  @include planet;
  top: 15%;
  left: 87%;
  background-image: url(../img/discoball.png);
}
.space-tomatoes {
  @extend .planets;
  display: none;
  height: 420px;
  width: 420px;
  position: absolute;
  top: 10%;
  left: 30%;
  transition: all 1s ease;
  // transform: scale();
  // &:hover {
  //   transform: scale(2, 2);
  // }
}
// .planet-6 {
//   width: 90%;
//   height: 90%;
//   z-index: 99;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: 50% 50%;
//   background-image: url(../img/planet-6.png);
// }
// .new-planets2 {
//   @extend .new-planets;
//   top: 20%;
//   left: 94%
// }

// .planet-7 {
//   @extend .planet-6;
//   background-image: url(../img/discoball.png);
// }


.transform-active {
  transition: all 4s cubic-bezier(0.55, -0.01, 0.2, 0.99);
  width: 200px;
  height: 200px;
  top: 25%;
  left: 45%;
  .explore-text{
      transition: all 2s ease-in;
      font-size: 50px;
  }
}

.explore-show {
  visibility: visible;
  transition-delay: 1s !important;
  transition: all 1s ease-in;
  border: lime solid 2px;
  width: 20px;
  height: 20px;
}

.explore:hover  {
  cursor: pointer;
}

// .explore-planet-1 {
//   margin-top: -14900px;
//   margin-left: -14900px;
//   @include explore-planet;
// }
// .explore-planet-2 {
//   margin-top: -15100px;
//   margin-left: -14900px;
//   @include explore-planet;
// }
// .explore-planet-3 {
//   margin-top: -15100px;
//   margin-left: -14600px;
//   @include explore-planet;
// }
// .explore-planet-4 {
//   margin-top: -14800px;
//   margin-left: -15400px;
//   @include explore-planet;
// }
.explore-planet {
  margin-top: -15100px;
  margin-left: -14900px;
  @include explore-planet;
  .return {
    visibility: visible;
    width: 400px;
    height: 100px;
    font-size: 50px;
    transition-delay: 1s !important;
    transition: all 1s ease-in;
  }
}


.alien {
  height: 0;
  width: 1px;
}
// .alien-1 {
//   width: 1px;
// }
// .alien-2 {
//   width: 1px;
// }
// .alien-3 {
//   width: 1px;
// }
// .alien-4 {
//   width: 1px;
// }
// .alien-5 {
//   width: 1px;
// }

.alien-grow {
  width: 400px;
  transition: all 3s ease;
  height: auto;
}
.alien-shrink {
  width: 1px;
  transition: all 1s ease;
}
.return-to-orbit-1 {
  @include return-to-orbit;
}
.return-to-orbit-2 {
  @include return-to-orbit;
}
.return-to-orbit-3 {
  @include return-to-orbit;
}
.return-to-orbit-4 {
  @include return-to-orbit;
}
.return-to-orbit-5 {
  @include return-to-orbit;
}
.return-to-orbit-6 {
  @include return-to-orbit;
}
.return-to-orbit-7 {
  @include return-to-orbit;
}
#discoworld {
  height: 1000px;
  width: 100vw;
}

.discoworlds {
  z-index: 100;
  background-image: url(../img/discoball2.gif);
  position: absolute;
  top: -1000px;
  left: 0%;
  animation: disco-drop 10s ease-in infinite;
}
.space-tomatoes-show {
  background-image: url(../img/tomato-frame-4.gif);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 1s;
  animation: bg 2s ease;
}
.space-face {
  background-image: url(../img/deadface.png);
  max-height: 200px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  // transition: background-image 1s;
  animation: space-faces 1.5s ease-in;
}
@keyframes bg {
  0% {
    background-image: url(../img/tomato-frame-1.gif);
  }
  10% {
    background-image: url(../img/tomato-frame-2.gif);
  }
  20% {
    background-image: url(../img/tomato-frame-3.gif);
  }
  50% {
    background-image: url(../img/tomato-frame-4.gif);
  }
}
@keyframes space-faces {
  0% {
    background-image: url(../img/hello.png);
    background-size: 2px;
  }
  98% {background-image: url(../img/hello.png)}
  99% {
    background-image: url(../img/deadface.png);
    background-size: 200px;
  }
}

.star {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 20%;
  background-color: white;
  z-index: 11;
  box-shadow: 0px 2px 6px white;
}
// @keyframes {
//   0% {
//     background-color:
//   }
// }

.on-top {
  z-index: 100;
}
.go-away {
  transition:  all .1s ease-in;
  opacity: 0 !important;
}
