.tv {
  height: 100%;
  width: 100%;
  border: 2px solid black;
}
.tv-show {
  width: 99%;
  height: 100%;
  background-image: url(../img/fuzz.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image .5s ease;
}

.planet-6-gif {
  background-image: url(../img/globetrotter.gif);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20;
}
