@mixin backround-setting {
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20;
}

.tv {
  height: 100%;
  width: 100%;
  border: 2px solid black;
  grid-row: span 2;
}
.tv-show {
  width: 99%;
  height: 100%;
  background-image: url(../img/fuzz.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image .5s ease;
}

.planet-6-gif {
  background-image: url(../img/globetrotter.gif);
  @include backround-setting;
}

.channel-1 {
  background-image: url(../img/channel-1.gif);
  @include backround-setting;
}

.channel-2 {
  background-image: url(../img/channel-2.gif);
  @include backround-setting;
}
.channel-3 {
  background-image: url(../img/channel-3.gif);
  @include backround-setting;
}

.channel-4 {
  background-image: url(../img/channel-4.gif);
  @include backround-setting;
}
.channel-5 {
  background-image: url(../img/channel-5.gif);
  @include backround-setting;
}

.channel-6 {
  background-image: url(../img/channel-6.gif);
  @include backround-setting;
}
.channel-7 {
  background-image: url(../img/channel-7.gif);
  @include backround-setting;
}

.channel-8 {
  background-image: url(../img/channel-8.gif);
  @include backround-setting;
}
.channel-9 {
  background-image: url(../img/channel-9.gif);
  @include backround-setting;
}

.channel-10 {
  background-image: url(../img/channel-10.gif);
  @include backround-setting;
}
.channel-11 {
  background-image: url(../img/channel-11.gif);
  @include backround-setting;
}

.channel-12 {
  background-image: url(../img/channel-12.gif);
  @include backround-setting;
}
.channel-13 {
  background-image: url(../img/channel-13.gif);
  @include backround-setting;
}

.channel-14 {
  background-image: url(../img/channel-2.gif);
  @include backround-setting;
}
.channel-15 {
  background-image: url(../img/channel-1.gif);
  @include backround-setting;
}

.channel-16 {
  background-image: url(../img/channel-2.gif);
  @include backround-setting;
}
.channel-17 {
  background-image: url(../img/channel-1.gif);
  @include backround-setting;
}

.channel-18 {
  background-image: url(../img/channel-2.gif);
  @include backround-setting;
}
.dooms-gif {
  background-image: url(../img/doom.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 20;
}
.planet-7-gif {
  @extend .planet-6-gif;
  background-image: url(../img/soultrain.gif);
}
