.btn-grid-raised {
  background-color: $gold1;
}
.btn-grid-raised.grid-6
 div {
    box-shadow: none;
}


.pannel-left .btn-grid-flat:not(.thin) {
    grid-row: span 2;
}
.pannel-left .btn-grid-flat {
  background-color: $gold2;
}

.btn-grid-flat div {
 background-color: $flat-button-brown;
 border: 1px solid;
}
@for $i from 1 through 5{
    $d: $i / 5 + 1;
    .btn-grid-flat div:nth-child(#{$i}n){
        animation: borderBlink#{$i} #{$d}s #{$d / 5}s infinite;
    }
}
@for $i from 1 through 5{
    $d: $i / 5;
    .self-destruct-animation .btn-grid-flat div:nth-child(#{$i}n){
        animation: btn-blink #{$d}s #{$d / 5}s infinite;
    }
}
.pannel-right-corner .btn-grid-flat {
  background-color: $gold1;
}
.pannel-right .btn-grid-flat {
    background-color: transparent;
}
